*{
margin:0;
padding:0;
}
body{
    font-family:"Poppins", serif;
}
header{
    background-image: url(./image/img8.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height:100vh;
    
    display: flex;
    text-align: center;
   color:white;
   justify-content: center;
   align-items:flex-end;
}

.line{
    border: 3px solid #fc036b;
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
    
}
.content{
    margin-bottom: 150px;
    text-align: center;
}
.content h2{
font-size:4vmin;
}
.content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*.navbar{
    display: flex;
    position: absolute;
    color: whitesmoke;
    top:0;
    left:0;
   width: 100%;
    justify-content: space-between;
    align-items: center;
}
/*ul{
list-style: none;


}
.nav__liks a{
text-decoration: none;
color: whitesmoke;
}
.navbar__list{
    display:flex;
   
    
    
}


.navbar__list li{
    margin: 0 30px ;
     
   
}*/
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
left: 0;
width: 100%;
position: absolute;
}
.list{
    display: flex;
    width: 70%;
    justify-content: space-around;
   
    color: whitesmoke;
   
}
.list p{
    font-size: 3vmin;
   
}
.list p:hover{
    font-size: 20px;
    color: #fc036b;
}
.navbar__h1{
    color: whitesmoke;
    display: flex;
    padding: 10px;
    
font-size: 2.5vmin;
}
.list button{
    font-size: 3vmin;
}
/*card creation*/
.card__one{
    width: 40%;
    padding: 10px;
    margin:10px;
}
.card__one img{
    width: 100%;
}
.card__two{
    width: 40%;
    padding: 10px;
   margin: 10px;
}
.card__two img{
    width: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  text-align: center;
    margin-top: 10px;
}
.card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.card h1{
    padding: 10px;
}
.card__one h2{
    margin: 10px;
}
.card__one p{
    margin-bottom: 10px;
}
.card__two h2{
    margin: 10px;
}
.card__two p{
    margin-bottom: 10px;
}
/*image section*/
.image{
    display: flex;
    
    position: relative;
    width: 100%;
height: 70vh;
    background-image: url(./image/img6.jpg);
    background-position:center;
    background-size: cover;
    min-width: 320px;
    min-height: 400px;
    overflow: auto;
}
.image__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right:5%;
    width: 80%;
    text-align: center;
    color: white;
}
.image__content p{
    text-align: center;
    margin: 20px;
}
.section__2{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
}
.section__2 img{
    width: 45%;
    padding: 10px;
}
.section__1{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.section__1 h1 ,p{
    margin: 10px;
}
.section{
    display: flex;
    width: 100%;
    
}
footer{
    background-color:black;
    padding: 20px;
    width:100% ;
    color: antiquewhite;
    text-align: center;
}